window#osd {
  background: alpha(#0f0f0f, 0.25);
  border: 1px solid #e0e0e0;
  border-radius: 0px;
}

progressbar {
  background: alpha(#0f0f0f, 0.5);
  padding: 10px;
  border: 1px solid #e0e0e0;
  border-radius: 0px;
}

progress {
  background: white;
  border: 1px solid #0f0f0f;
  border-right: 4px solid #0f0f0f;
  border-radius: 0px;
}

image {
  background: alpha(#0f0f0f, 0.5);
  padding: 5px;
  color: white;
  border: 1px solid #e0e0e0;
}
