@define-color background    @theme_bg_color;
@define-color backgroundm   alpha(@theme_bg_color, 0.75);
@define-color backgroundn   alpha(@theme_bg_color, 0.25);
@define-color foreground    @theme_fg_color;
@define-color border        @borders;

window#osd {
  background: @backgroundm;
  padding: 0px;
  margin: 0px;
  border: 1px solid @border;
  border-radius: 0px;
}

progressbar {
  min-width: 100px;
  background: @backgroundm;
  padding: 10px;
  border: 1px solid @border;
  border-radius: 0px;
}

progress {
  background: @foreground;
  border: 1px solid @border;
  border-right: 4px solid @border;
  border-radius: 0px;
}

image,
label {
  background: @backgroundm;
  padding: 5px;
  margin: -5px;
  color: @theme_fg_color;
  border: 1px solid @border;
  font-family: Fira Mono;
  font-size: 14px;
  font-weight: bold;
  min-width: 40px;
  min-height: 40px;
}
