
# PATH
export VISUAL="nvim"
export EDITOR="nvim"
export PATH="$HOME/.local/bin:$PATH"
export XDG_SCREENSHOTS_DIR="$HOME/Pictures/Screenshots"
export BAT_THEME="Github"
export GIT="$HOME/Gits/"

# Aliases
alias snvim="sudo -E -s nvim"
alias hypr="nvim $GIT/hyprland-dots/hypr/hyprland.conf"
alias vim="nvim"
alias rvim="/bin/vim"
alias cat="bat --theme=base16"
alias rcat="/bin/cat"
# Jellyfin
alias startjellyfin="sudo /usr/bin/systemctl start jellyfin.service && notify-send -a 'Jellyfin' -i jellyfin 'Jellyfin' 'Server Started' -h string:x-canonical-private-synchronous:jellyfin"
alias stopjellyfin="sudo /usr/bin/systemctl stop jellyfin.service && notify-send -a 'Jellyfin' -i jellyfin 'Jellyfin' 'Server Stopped' -h string:x-canonical-private-synchronous:jellyfin"
# Nitrosense
alias nitro="~/.config/hypr/scripts/nitrosense"
alias auto-nitro="~/.config/hypr/scripts/nitrosense a"
alias quiet-nitro="~/.config/hypr/scripts/nitrosense qa"
alias default-nitro="~/.config/hypr/scripts/nitrosense da"
alias performance-nitro="~/.config/hypr/scripts/nitrosense pa"
alias max-nitro="~/.config/hypr/scripts/nitrosense m"
alias custom-nitro="~/.config/hypr/scripts/nitrosense c"
# ls to eza
alias ls='eza --icons --color=always --group-directories-first --hyperlink'
alias ll='eza -alF --icons --color=always --group-directories-first --hyperlink'
alias la='eza -a --icons --color=always --group-directories-first --hyperlink'
alias lt='eza -T --icons=never --color=never --group-directories-first --hyperlink'
alias l='eza -F --icons --color=always --group-directories-first --hyperlink'
alias l.='eza -ad .*'
alias rls='/bin/ls --color=auto'
alias rll='/bin/ls -alF --color=auto'
alias rla='/bin/ls -a --color=auto'
alias rlt='/bin/ls -lR --color=auto'
alias rl='/bin/ls -F --color=auto'
alias rl.='/bin/ls -Ad .* --color=auto'
# misc
alias clock="tty-clock -s -c -t -C 6"
alias fetch="fastfetch"
alias matrix="clear && unimatrix -a -b -c cyan -f -s 98 && clear"
alias curd="$(find $HOME/Programs/curd/releases -type f -name curd -executable | sort -V | tail -n 1)"
alias linutil="curl -fsSL christitus.com/linux | sh"
#Packages
alias pi='pkg_install'
alias pu='pkg_uninstall'
alias pup='upgrade'
