
# PATH
export VISUAL="nvim"
export EDITOR="nvim"
export PATH="$HOME/.local/bin:$PATH"
export XDG_SCREENSHOTS_DIR="$HOME/Pictures/Screenshots"
export BAT_THEME="Github"
export GIT="$HOME/Gits/"
export PS1

# Aliases
alias snvim="sudo -E -s nvim"
alias hypr="nvim $GIT/hyprland-dots/hypr/hyprland.conf"
alias vim="nvim"
alias rcat="/bin/cat"
alias cat="bat --theme=base16"
alias startjellyfin="sudo systemctl start jellyfin && exit"
alias stopjellyfin="sudo systemctl stop jellyfin && exit"
alias curd="$(find $HOME/Programs/curd/releases -type f -name curd -executable | sort -V | tail -n 1)"
alias linutil="curl -fsSL christitus.com/linux | sh"
# Nitrosense
alias nitro="~/.config/hypr/scripts/nitrosense"
alias auto-nitro="~/.config/hypr/scripts/nitrosense a"
alias quiet-nitro="~/.config/hypr/scripts/nitrosense qa"
alias default-nitro="~/.config/hypr/scripts/nitrosense da"
alias performance-nitro="~/.config/hypr/scripts/nitrosense pa"
alias max-nitro="~/.config/hypr/scripts/nitrosense m"
alias custom-nitro="~/.config/hypr/scripts/nitrosense c"
# ls to eza
alias ls='eza --icons --color=always --group-directories-first'
alias ll='eza -alF --icons --color=always --group-directories-first'
alias la='eza -a --icons --color=always --group-directories-first'
alias lt='eza -T --icons --color=always --group-directories-first'
alias l='eza -F --icons --color=always --group-directories-first'
alias l.='eza -a | egrep "^\."'
# misc
alias clock="tty-clock -s -c -t -C 6"
alias fetch="fastfetch"
alias matrix="clear && unimatrix -a -b -c cyan -f -s 98 && clear"
