@define-color foreground         alpha(@theme_fg_color, 1);
@define-color foreground-alpha   alpha(@theme_fg_color, 0.9);
@define-color foreground-beta    alpha(@theme_fg_color, 0.75);
@define-color background         alpha(@theme_bg_color, 1);
@define-color background-alpha   alpha(@theme_base_color, 0.5);
@define-color background-beta    alpha(@theme_base_color, 0.75);
@define-color border             alpha(@borders, 1);
@define-color button-alpha       alpha(@theme_selected_bg_color, 0.5);
@define-color accent-bg          alpha(@theme_selected_bg_color, 1);
@define-color accent-fg          alpha(@theme_selected_fg_color, 1);

* {
  all: unset;
  font-family: Fira Mono;
  font-size: 14px;
  border-radius: 0px;
}

.floating-notifications.background .notification-row .notification-background {
  border: 1px solid @border;
  margin: 2px 4px 4px 0;
  background-color: @background-beta;
  color: @foreground;
  padding: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  font-weight: bold;
  margin: 0 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @foreground-beta;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @foreground-alpha;
  margin: 0 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 45px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  color: @foreground;
  background-color: @background-alpha;
  border: 1px solid @border;
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @accent-bg;
  color: @accent-fg;
  text-shadow: none;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @background;
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  color: transparent;
  background-color: transparent;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  color: transparent;
  background-color: transparent;
}

.control-center {
  background-color: @background-beta;
  color: @foreground;
  padding: 10px;
  border: 1px solid @border;
}

.control-center .widget-title > label {
  color: @foreground;
  font-size: 20px;
  font-weight: bold;
}

.control-center .widget-title button {
  font-weight: normal;
  color: @foreground;
  background-color: @background;
  margin: 0;
  padding: 10px;
  border: 1px solid @border;
  min-width: 100px;
}

.control-center .widget-title button:hover {
  background-color: @accent-bg;
  color: @accent-fg;
}

.control-center .widget-title button:active {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background {
  color: @foreground;
  background-color: @background-beta;
  margin: 5px 0;
  border: 1px solid @border;
}

.control-center .notification-row .notification-background .notification {
  padding: 5px;
  text-shadow:
    -1px -1px 2px @background-alpha,
    1px -1px 2px @background-alpha,
    -1px 1px 2px @background-alpha,
    1px 1px 2px @background-alpha;
}

.control-center .notification-row .notification-background .notification.critical {
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  font-size: 16px;
  font-weight: bold;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @foreground-beta;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @foreground-alpha;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification .notification-content image {
  margin-left: -10px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 45px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  color: @foreground;
  background-color: @backgrouna-beta;
  border: 1px solid @border;
  margin: 5px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @accent-bg;
  color: @accent-fg;
  text-shadow: none;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .close-button {
  color: transparent;
  background-color: transparent;
  border: none;
}

.control-center .notification-row .notification-background .close-button:hover {
  color: transparent;
  background-color: transparent;
}

.control-center .notification-row .notification-background .close-button:active {
  color: transparent;
  background-color: transparent;
}

.control-center .notification-row .notification-background:hover {
  background-color: @accent-bg;
  color: @accent-fg;
}

.control-center .notification-row .notification-background:active {
  background-color: @background;
  color: @foreground;
}

progressbar,
progress,
trough {
}

progressbar {
}

.notification.critical progress {
  background-color: @background-alpha;
}

.notification.low progress,
.notification.normal progress {
  background-color: @foreground;
}

trough {
  background-color: @background-alpha;
}

.control-center trough {
  background-color: @background-alpha;
}

.control-center-dnd {
  margin-top: 5px;
  background: @background;
  border: 1px solid @border;
}

.widget-mpris {
}

.widget-mpris image:not(:last-child) {
  margin-top: 15px;
  margin-left: 15px;
  background: @background-alpha;
  border: 1px solid @border;
}

.widget-mpris label {
  text-shadow:
    -1px -1px 2px @background-alpha,
    1px -1px 2px @background-alpha,
    -1px 1px 2px @background-alpha,
    1px 1px 2px @background-alpha;
  margin-right: 20px;
  padding: 5px;
  border: 1px solid @border;
  background: @background-alpha;
}

.widget-mpris label:first-child {
  margin-top: 15px;
}

.widget-mpris button {
  background: @background-alpha;
  border: 1px solid @border;
}

button {
  color: @foreground;
  background: @background-beta;
  margin: 5px;
  padding: 5px;
  border: 1px solid @border;
  transition: all 0.25s linear;

}

button:hover {
  color: @accent-fg;
  background: @accent-bg;
  padding: 5px;
}

button:disabled {
  opacity: 0.2;
}

flat image-button {
  color: @foreground;
}
image {
  padding: 0;
}
carousel {
}

carouselindicatordots {
  color: @foreground;
}
