@define-color foreground rgb(224, 224, 224);
@define-color background rgba(15, 15, 15, 0.75);
@define-color background-alpha rgba(0, 0, 0, 0.1);
@define-color accent rgba(224, 224, 224, 0.8);
@define-color current-line rgb(15, 15, 15);
@define-color comment rgb(102, 102, 102);

* {
  all: unset;
  font-family: Fira Code Mono Font;
  font-size: 14px;
  transition: 100ms;
}

.floating-notifications.background .notification-row .notification-background {
  border: 1px solid @accent;
  border-radius: 2px;
  margin: 4px;
  background-color: @background-alpha;
  color: @foreground;
  padding: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 5px;
  border-radius: 2px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  margin: 0 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @background-alpha;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @background-alpha;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 2px;
  color: @foreground;
  background-color: @background-alpha;
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 2px;
  border: 1px solid @accent;
  border-radius: 2px;
  color: @foreground;
  background-color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @foreground;
  color: @background;
}

.control-center {
  border-radius: 2px;
  background-color: @background-alpha;
  color: @foreground;
  padding: 10px;
  border: 1px solid @accent;
}

.control-center .widget-title {
  color: @foreground;
}

.control-center .widget-title button {
  border-radius: 2px;
  color: @foreground;
  background-color: @background;
  padding: 8px;
  border: 1px solid @accent;
}

.control-center .widget-title button:hover {
  background-color: @foreground;
  color: @background;
}

.control-center .widget-title button:active {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background {
  border-radius: 2px;
  color: @foreground;
  background-color: @background;
  margin: 4px 0;
  border: 1px solid @accent;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 2px;
}

.control-center .notification-row .notification-background .notification.critical {
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 5px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 2px;
  color: @foreground;
  background-color: @background;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .close-button {
  margin: 2px;
  padding: 2px;
  border-radius: 2px;
  color: @foreground;
  background-color: @background;
  border: 1px solid @accent;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background:hover {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background:active {
  background-color: @background;
  color: @foreground;
}

progressbar,
progress,
trough {
  border-radius: 2px;
}

progressbar {
}

.notification.critical progress {
  background-color: @background;
}

.notification.low progress,
.notification.normal progress {
  background-color: @foreground;
}

trough {
  background-color: @background;
}

.control-center trough {
  background-color: @background;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 2px;
  background: @background;
  border: 1px solid @accent;
}

.control-center-dnd:checked {
  background: @foreground;
}

.control-center-dnd slider {
  background: @foreground;
  border-radius: 2px;
}

.widget-dnd {
  margin: 0px;
  font-size: 1.1rem;
}

.widget-dnd > switch {
  font-size: initial;
  border-radius: 2px;
  background: #414559;
  border: 1px solid @accent;
}

.widget-dnd > switch:checked {
  background: @foreground;
}

.widget-dnd > switch slider {
  background: @background;
  border-radius: 2px;
  border: 1px solid @accent;
}
