@define-color foreground rgb(224, 224, 224);
@define-color background rgba(15, 15, 15, 0.75);
@define-color background-alpha rgba(0, 0, 0, 0.1);
@define-color accent rgba(224, 224, 224, 1);
@define-color button-alpha rgba(15, 15, 15, 0.5);

* {
  all: unset;
  font-family: Fira Sans Mono Font;
  font-size: 15px;
}

.floating-notifications.background .notification-row .notification-background {
  border: 1px solid @accent;
  border-radius: 1px;
  margin-top: 0;
  margin-bottom: 4;
  margin-right: 4;
  background-color: @background-alpha;
  color: @foreground;
  padding: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification {
  padding: 5px;
  border-radius: 1px;
}

.floating-notifications.background .notification-row .notification-background .notification.critical {
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content {
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  margin: 0 5px;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .time {
  color: @foreground;
}

.floating-notifications.background .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
  margin: 0 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * {
  min-height: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 1px;
  color: @foreground;
  background-color: @background-alpha;
  margin: 5px;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button {
  margin: 2px;
  border: 1px solid @accent;
  border-radius: 1px;
  color: @foreground;
  background-color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:hover {
  background-color: @foreground;
  color: @background;
}

.floating-notifications.background .notification-row .notification-background .close-button:active {
  background-color: @foreground;
  color: @background;
}

.control-center {
  border-radius: 1px;
  background-color: @background-alpha;
  color: @foreground;
  padding: 10px;
  border: 1px solid @accent;
}

.control-center .widget-title {
  color: @foreground;
  font-size: 25px;
  font-weight: bold;
}

.control-center .widget-title button {
  font-weight: normal;
  border-radius: 1px;
  color: @foreground;
  background-color: @background;
  margin: 0;
  padding: 8px;
  border: 1px solid @accent;
}

.control-center .widget-title button:hover {
  background-color: @foreground;
  color: @background;
}

.control-center .widget-title button:active {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background {
  border-radius: 1px;
  color: @foreground;
  background-color: @background;
  margin: 4px 0;
  border: 1px solid @accent;
}

.control-center .notification-row .notification-background .notification {
  padding: 7px;
  border-radius: 1px;
}

.control-center .notification-row .notification-background .notification.critical {
}

.control-center .notification-row .notification-background .notification .notification-content {
  margin: 7px;
}

.control-center .notification-row .notification-background .notification .notification-content .summary {
  color: @foreground;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification .notification-content .time {
  color: @foreground;
}

.control-center .notification-row .notification-background .notification .notification-content .body {
  color: @foreground;
  margin: 0 5px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * {
  min-height: 5px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action {
  border-radius: 1px;
  color: @foreground;
  background-color: @background;
  margin: 7px;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:hover {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .notification > *:last-child > * .notification-action:active {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background .close-button {
  padding: 2px;
  border-radius: 1px;
  color: @foreground;
  background-color: @background;
  border: 1px solid @accent;
}

.control-center .notification-row .notification-background .close-button:hover {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background .close-button:active {
  background-color: @foreground;
  color: @background;
}

.control-center .notification-row .notification-background:hover {
  background-color: @background;
  color: @foreground;
}

.control-center .notification-row .notification-background:active {
  background-color: @background;
  color: @foreground;
}

progressbar,
progress,
trough {
  border-radius: 1px;
}

progressbar {
}

.notification.critical progress {
  background-color: @background;
}

.notification.low progress,
.notification.normal progress {
  background-color: @foreground;
}

trough {
  background-color: @background;
}

.control-center trough {
  background-color: @background;
}

.control-center-dnd {
  margin-top: 5px;
  border-radius: 1px;
  background: @background;
  border: 1px solid @accent;
}

.widget-mpris {
  border: 1px solid @accent;
}

.widget-mpris image:not(:last-child) {
  box-shadow: 0 0 2px black, 0 0 2px black;
  margin-top: 15px;
  margin-left: 15px;
}

.widget-mpris label {
  text-shadow: 0 0 2px black, 0 0 2px black;
}

button {
  color: @foreground;
  background: @background;
  margin: 5px;
  padding: 5px;
  border: 1px solid @accent;
}

button:hover {
  color: @background;
  background: @foreground;
  padding: 5px;
}

button:disabled {
  opacity: 0.2;
}

flat image-button {
  color: cyan;
}

carousel {
}

carouselindicatordots {
  
}
