configuration {
  modi:                       "drun,filebrowser,run,window";
  show-icons:                 true;
  display-drun:               "Apps";
  display-run:                "Run";
  display-filebrowser:        "Files";
  display-window:             "Windows";
  drun-display-format:        "{name}";
  window-format:              "{w} · {c} · {t}";
}

@theme "/home/subez/.config/rofi/theme.rasi"
