* {
  background:                  #FFFFFF;
  background-alt:              #D0D0D0;
  foreground:                  #0F0F0F;
  selected:                    #0F0F0F;
  active:                      #E0E0E0;
  urgent:                      #DDDDDD;
  border:                      rgba(0, 0, 0, 0.15);
  background-alpha:            rgba(255, 255, 255, 0.75);
}

configuration {
  icon-theme:                  "Papirus-Light";
}
