@define-color bgm     alpha(#0f0f0f,0.25);
@define-color bg      #0f0f0f;
@define-color accent  #e0e0e0;
@define-color text    #e0e0e0;
@define-color cyan    #00cccc;

* {
  font-family: Symbols Nerd Font;
  font-weight: normal;
  font-size: 14px;
  min-height: 0px;
  border-radius: 0px;
}

window#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

#workspaces button,
#taskbar button {
  transition: all 0.25s ease-in-out;
  padding: 4px;
  color: @text;
  margin: 3px 2px 3px 2px;
  text-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
  border: 1px solid transparent;
}

#workspaces button.active,
#taskbar button.active {
  background: @accent;
  color: @bg;
  text-shadow: none;
  border: 1px solid @accent;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#workspaces button:hover,
#taskbar button:hover {
  border: 1px solid @accent;
  opacity: 0.75;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#workspaces button.active:hover,
#taskbar button.active:hover {
  border: 1px solid @accent;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces,
#taskbar {
  background: @bgm;
  padding: 1px 2px 1px 2px;
  margin: 4px;
  border: 1px solid @accent;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#taskbar button.maximized,
#taskbar button.fullscreen {
  border-color: @cyan;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#taskbar button.maximized.active,
#taskbar button.fullscreen.active {
  background: @cyan;
}

#waybar.fullscreen .module {
  background: @bg;
}

#waybar.fullscreen .module:hover:not(#workspaces):not(#taskbar):not(#tray) {
  background: @cyan;
}

#waybar.fullscreen * {
  border-color: @cyan;
}

#waybar.fullscreen #workspaces button:not(:hover) {
  border-color: transparent;
}

#waybar.fullscreen
  #taskbar
  button:not(.maximized):not(.fullscreen):not(:hover) {
  border-color: transparent;
}

#waybar.empty #window {
  border: none;
  box-shadow: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#taskbar.empty {
  border: none;
  box-shadow: none;
  opacity: 0;
  margin: 0;
  padding: 0;
}

#waybar.swallowing * {
  border-color: #d0679d;
}

#waybar.swallowing #workspaces button:not(:hover) {
  border-color: transparent;
}
#waybar.swallowing #taskbar button:not(:hover) {
  border-color: transparent;
}

.module {
  background: @bgm;
  color: @text;
  padding-left: 10px;
  padding-right: 10px;
  margin: 4px;
  border: 1px solid @accent;
  text-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

.module:hover:not(#workspaces):not(#taskbar):not(#tray) {
  background: @text;
  color: @bg;
  text-shadow: none;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#pulseaudio,
#wireplumber,
#backlight,
#cpu,
#battery {
  min-width: 46px;
}

#memory {
  min-width: 67px;
}

#custom-notification {
  min-width: 22px;
  font-size: 12px;
}

#waybar.empty #window:hover {
  background: transparent;
}

#privacy {
  margin: 4px;
  color: @bg;
  padding-left: 10px;
  padding-right: 10px;
  border: 1px solid @accent;
  background-color: #90ceaa;
}

tooltip {
  background: @bg;
  border: 1px solid @accent;
}
