@define-color bgm     transparent;
@define-color bg     #0f0f0f;
@define-color tip     #0f0f0f;
@define-color accent  #e0e0e0;
@define-color text    #e0e0e0;

* {
  border: 1px;
  border-radius: 0;
  font-family: Symbols Nerd Font;
  font-weight: normal;
  font-size: 14px;
  min-height: 0px;
}

window#waybar {
  transition: all 0.1s ease-in-out;
  background: transparent;
  color: @text;
  margin: 5px;
}

window#waybar.empty #window {
  padding: 0 10px;
  margin: 5px;
}

#workspaces button {
  transition: all 0.1s ease-in-out;
  padding: 4px 6px;
  color: @text;
  margin: 4px;
  border-radius: 1px;
}

#workspaces button.active {
  transition: all 0.1s ease-in-out;
  background: @accent;
  color: @bg;
}

#workspaces button.active, #workspaces button.focused {
  transition: all 0.1s ease-in-out;
  margin: 3px;
  border: 1px solid @accent;
}

#workspaces button:hover {
  transition: all 0.1s ease-in-out;
  margin: 3px;
  border: 1px solid @accent;
}

#workspaces button.empty {
  transition: all 0.1s ease-in-out;
  opacity: 0.5;
}

tooltip {
  border-radius: 2px;
  border: 1px solid @accent;
  color: @text
}

#custom-playerctl, #clock, #battery, #pulseaudio, #wireplumber, #network, #bluetooth, #tray, #backlight, #idle_inhibitor, #cpu, #memory, #workspaces, #window, #custom-notification, #custom-menu {
  background: @bgm;
  color: @text;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px 5px 5px 5px;
  border: 1px solid @accent;
  border-radius: 1px;
}

#custom-power {
  font-weight: normal;
}

#tray {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
}

#window {
  margin-left: 5px;
  padding-left: 10px;
  padding-right: 10px;
  transition: none;
  border: 1px solid @accent;
  border-radius: 1px;
}

#workspaces {
  background: @bgm;
  padding: 0 0;
  margin-left: 5px;
  margin-right: 5px;
}

#clock {
  color: @text;
  border-radius: 1px;
  margin-left: 5px;
  margin-right: 5px;
}
  background: @tip;
