@define-color bgm     transparent;
@define-color bg      #0f0f0f;
@define-color accent  #e0e0e0;
@define-color text    #e0e0e0;
@define-color cyan    #00cccc;

* {
  font-family: Symbols Nerd Font;
  font-weight: normal;
  font-size: 14px;
  min-height: 0px;
  border-radius: 0px;
}

#workspaces button,
#taskbar button {
  transition: all 0.1s ease-in-out;
  padding: 4px;
  color: @text;
  margin: 4px;
  text-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#workspaces button.active,
#taskbar button.active {
  margin: 3px;
  background: @accent;
  color: @bg;
  text-shadow: none;
  border: 1px solid @bg;
}

#workspaces button:hover,
#taskbar button:hover {
  margin: 3px;
  border: 1px solid @accent;
  opacity: 0.75;
}

#workspaces button.active:hover,
#taskbar button.active:hover {
  border: 1px solid @bg;
}

#workspaces button.empty {
  opacity: 0.5;
}

#workspaces,
#taskbar {
  background: @bgm;
  padding: 0;
  margin: 5px;
  border: 1px solid @accent;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#taskbar button.maximized,
#taskbar button.fullscreen {
  margin: 3px;
  border: 1px solid @bg;
  background: @cyan;
}

#taskbar.empty {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

window#waybar {
  background: transparent;
  color: @text;
  margin: 5px;
}

#waybar.fullscreen {
  background: black;
}

#waybar.fullscreen * {
  border-color: @cyan;
}

#waybar.empty #window {
  border: none;
  padding: 0;
  margin: 0;
  box-shadow: none;
}

#waybar.swallowing * {
  border-color: #d0679d;
}

#custom-playerctl,
#clock,
#battery,
#pulseaudio,
#wireplumber,
#network,
#bluetooth,
#privacy,
#tray,
tooltip,
#backlight,
#idle_inhibitor,
#cpu,
#memory,
#window,
#custom-notification,
#custom-menu {
  background: @bgm;
  color: @text;
  padding-left: 10px;
  padding-right: 10px;
  margin: 5px;
  border: 1px solid @accent;
  text-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#pulseaudio,
#wireplumber,
#backlight,
#cpu,
#battery {
  min-width: 46px;
}

#memory {
  min-width: 67px;
}

#custom-notification {
  min-width: 22px;
}

#custom-playerctl:hover,
#clock:hover,
#battery:hover,
#pulseaudio:hover,
#wireplumber:hover,
#network:hover,
#bluetooth:hover,
#backlight:hover,
#idle_inhibitor:hover,
#cpu:hover,
#memory:hover,
#window:hover,
#custom-notification:hover,
#custom-menu:hover {
  background: @text;
  color: @bg;
  text-shadow: none;
  /* -1px -1px 3px gray, */
  /* 1px -1px 3px gray, */
  /* -1px 1px 3px gray, */
  /* 1px 1px 3px gray; */
  box-shadow:
    -1px -1px 2px black,
    1px -1px 2px black,
    -1px 1px 2px black,
    1px 1px 2px black;
}

#waybar.empty #window:hover {
  background: transparent;
}

#privacy {
  color: @bg;
  border: 1px solid @accent;
  background-color: #90ceaa;
}

#custom-notification {
  font-size: 12px;
}

tooltip {
  background: @bg;
}
